body {
	min-width: 250px;
	margin: 5px 20px;
}

/* Devise converter Title */
h1 {
	margin-top: 10px;
}

/* Currencies lists */
select {
	margin-bottom: 0;
}

/* converstion result */
.input-group.result {
  margin-bottom: 0 !important;
}

.refresh-button { 
  background-color: #1779ba;
  color: white;
  border-radius: 1000px;
  padding: 2px 5px;
  margin-left: 5px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}